<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color:yellowgreen ;
        }
.class-1 a{
    color: inherit;
}
.class-2 a{
    color: initial;
}
.class-3 a{
    color: unset;
}
.important{
    color: blue !important ;
}
    </style>
</head>
<body>
    <ul>
        <li >default <a href="">link</a> color</li>
        <li class="class-1"> inherit <a href="">link</a>color</li>
        <li  class="class-2">initial <a href="">link</a>color</li>
        <li  class="class-3">unset <a href="">link</a>color</li>
    </ul>
    <p  class ="important" style="color: brown;">
        This is my intro.
    </p>
</body>
</html>