<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHITRKOOT</title>
</head>
<body>
    <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    <img src ="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/03/55/2d/e7/ram-ghat.jpg?w=500&h=400&s=1" alt ="_there is error in image" width ="350" target ="_blank">
   <video src = "video/ Beautiful Soup 4 Tutorial #1 - Web Scraping With Python.mp4"controls loop  ></video>
</body>
</html>