<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>media queries</title>
    <link rel="stylesheet" type="" href="/static/css/response.css">
    <style>
        @media  not all and (orientation:landscape)
            body{
                color: yellow;

            }

        }
        
        
    </style>
</head>
<body><div id="portfolio">
    <div id ="sidebar">
        <h3>OWNERS</h3>
    <ul id="nav">
    <li> <a data-email="taniya21032001@gmail.com" href="taniya21032001@gmail.com">Taniya</a></li>
    <li><a data-email="taniya21032001@gmail.com" href="taniya21032001@gmail.com">Nandini</a></li>
    <li><a data-email="taniya21032001@gmail.com" href="taniya21032001@gmail.com">Taniya saini</a></li></ul></div>
    <div id="main">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque facere sit dolorum vel incidunt sed iure quo earum. Reprehenderit illum repudiandae rerum vitae voluptatum dignissimos sapiente nulla cupiditate quaerat! Non!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse blanditiis inventore laudantium iste quisquam aspernatur dignissimos reprehenderit, voluptatem nobis unde ad. Suscipit vitae impedit eum magni ut alias, architecto eaque.</p></div>
    </div>
</body>
</html>