<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/element.css">
</head>
<body>
    <h1>This is my html file.</h1>
    <p>ist graph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quam delectus laboriosam autem magnam quo soluta natus, quaerat maxime, eum incidunt molestias id distinctio praesentium illo, sit saepe </p>
    <p><a href="http://youtube.com">youtube.com</a>  adipisicing elit. Nemo nostrum,<em class="special">this is new link for web development.</em> neque quam adipisci deleniti ipsa, numquam quis eos doloremque provident incidunt dolorum. Doloremque numquam sed fugiat,<em id  ="headiing" class="special">this is the last page.</em> nostrum enim corrupti voluptates!</p>
    <ul>
        <li class="special">opening tag</li>
        <li id="headiing">closing tag</li>
        <li class="bb">paragraph tag</li>
        <li>titletag</li>
    </ul>
</body>
</html>