<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{height: 300px;
            width: 400px;
padding: 18px;
border: 10px solid black;
margin: 20px;
        }/*overflow properties*/
        .box{
            border: 2px solid black;
            width: 300px;
            height: 40px;overflow: auto;

        }
    </style>
</head>
<body>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis perferendis amet at! Esse minima nostrum maiores iure pariatur sit vel, ab alias blanditiis voluptatem, excepturi accusamus obcaecati laborum hic similique. Nostrum eligendi aperiam perferendis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero nam temporibus, a harum magni minima, ea explicabo soluta sed iste non est obcaecati deleniti amet dicta pariatur odio molestiae? Blanditiis corporis doloribus mollitia eos libero! Quia labore repellat odio temporibus cupiditate aperiam suscipit atque nihil autem, excepturi harum nesciunt, at fugiat molestias. Harum veniam voluptas commodi, accusamus nulla numquam, debitis dolore unde cumque atque quisquam soluta iste temporibus tenetur reiciendis id quasi quas in suscipit autem quos sint itaque rerum? Praesentium quia quas maxime impedit autem dolorum ut minus, quos aliquid eius blanditiis quaerat error atque, distinctio id?
    </div>
    <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit. A quae animi similique iure, blanditiis perspiciatis suscipit, ipsum expedita repellat, illum rem iusto. Tempora aut ipsum minima harum, eveniet quam earum non nihil veritatis ipsa, quos fuga necessitatibus? Suscipit, nihil! Consequatur itaque temporibus dolores et corrupti laboriosam officiis. Repellendus aut, accusamus fugiat quidem similique dolorum facere neque nulla quisquam accusantium saepe enim esse ex voluptas ipsa quo? Blanditiis.</div>
    <p>
        this is my theory.
    </p>
</body>
</html>