<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apni kaksha | home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header><h1 >Apni Kaksha</h1></header>
<nav>
    <a href ="#">home</a>
    <a href ="#">college Reviews</a>
    <a href ="#">courses</a>
    <a href ="#">study material</a>
    <a href ="#">login/signup</a>
</nav>
<main>
    <section>
       <h2>
            Courses
        </h2>
        <video src ="../static/videos/jquery.mp4" controls loop muted  width ="33%" height ="65%" poster="l3.jpeg"></video>
        <video src ="../static/videos/jquery.mp4" controls loop muted  width ="33%" height ="65%" poster="l2.png"></video>
        <video src ="../static/videos/jquery.mp4" controls loop muted  width ="33%" height ="65%" poster="logo.jpeg" ></video>

      </section>
    <h2>College Reviews</h2>
    <iframe width="33%"  src="https://www.youtube.com/embed/HgvIox6ehkM" frameborder="0" controls muted loop></iframe>
    <iframe width="33%" src="https://www.youtube.com/embed/HgvIox6ehkM" frameborder="0" controls muted loop></iframe>
    <iframe width="33%"  src="https://www.youtube.com/embed/HgvIox6ehkM" frameborder="0" controls muted loop></iframe>
</section>
<section>
    <h2>Study Material</h2>
 <embed src="../static/pdf/resume_15.pdf" type="application/pdf" width="24%" height="60%"></section>
 <section>
    <h2>Founder</h2>
    <div class="taniya"><img src="../static/images/ss.jpg "width="30%" height="75%" ></div>   <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, sequi inventore magni nostrum perspiciatis nobis? Inventore veniam accusamus sit repellendus repudiandae distinctio voluptatem, eius autem ad, eos, quam temporibus excepturi!D</h3>
 </section>
 <footer>
    <a href="#">contact us</a>
    <a href="#">FAQ </a>
    <a href="#">Refund policy</a>
    <a href="#">privacy policy</a>
 </footer>
    </body>
</html>